defaults/flow.json
[{ "id": "9a223562.e72bf8", "type": "http in", "z": "fee6936d.da78e", "name": "", "url": "/setscore", "method": "get", "upload": false, "swaggerDoc": "", "x": 250, "y": 140, "wires": [
        ["7486a87b.ebc588"]
    ] }, { "id": "e49fb72a.0f73e8", "type": "template", "z": "fee6936d.da78e", "name": "WebPage - Get value", "field": "payload", "fieldType": "msg", "format": "handlebars", "syntax": "mustache", "template": "<script type=\"text/javascript\" src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js\"></script>\n<script type=\"text/javascript\">\n\nfunction postScore(score) {\n\n    var resultDiv = $(\"#resultDivContainer\");\n    \n    if (document.getElementById('r0').checked) {\n      nps_value = document.getElementById('r0').value;\n    }\n    if (document.getElementById('r1').checked) {\n      nps_value = document.getElementById('r1').value;\n    }\n    if (document.getElementById('r2').checked) {\n      nps_value = document.getElementById('r2').value;\n    }\n    if (document.getElementById('r3').checked) {\n      nps_value = document.getElementById('r3').value;\n    }\n    if (document.getElementById('r4').checked) {\n      nps_value = document.getElementById('r4').value;\n    }\n    if (document.getElementById('r5').checked) {\n      nps_value = document.getElementById('r5').value;\n    }\n    if (document.getElementById('r6').checked) {\n      nps_value = document.getElementById('r6').value;\n    }\n    if (document.getElementById('r7').checked) {\n      nps_value = document.getElementById('r7').value;\n    }\n    if (document.getElementById('r8').checked) {\n      nps_value = document.getElementById('r8').value;\n    }\n    if (document.getElementById('r9').checked) {\n      nps_value = document.getElementById('r9').value;\n    }\n    if (document.getElementById('r10').checked) {\n      nps_value = document.getElementById('r10').value;\n    }\n    \n    if(nps_value){\n        alert(\"Your answer was: - \" + nps_value + \" - Many thanks for your evaluation!\");\n    }\n    \n    $('input[name=npsValue]').attr('checked',false);\n\n    $.ajax({\n        url: \"https://italycionps.mybluemix.net/npsvalues\",\n        type: \"POST\",\n        data: { \"signature\": \"mdago_v01_web\", \"type\": \"nps-score\", \"score\": nps_value },\n        dataType: \"json\",\n        success: function (result) {\n            switch (result) {\n                case true:\n                    processResponse(result);\n                    break;\n                default:\n                    resultDiv.html(result);\n            }\n        },\n    })\n};\n\n</script>\n\n<html>\n<head>\n    <title align=\"center\">EOSD Italy NPS</title>\n    <style>{{{payload.style}}}</style>\n</head>\n<body>\n    <table class=\"responsive\" align=\"center\">\n        <thead>\n            <tr>\n                <div class='illustration'>\n                    <th align=\"center\"><img src=\"/images/eosd logo.png\"></th>\n                </div>\n            </tr>\n            <tr>\n                <th align=\"center\" style=\"color:#FFFFFF\">\n                    <h1>Net Promoter Score</h1>\n                </th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr>\n                <td width=\"auto\" align=\"center\">\n                    <fieldset align=\"center\">\n                        <ol>\n                            <p>How likely are you to recommend EOSD services to a friend or colleague?</p>\n                            <p>Please, select a value!</p>\n                            <span class=\"radio\"><input type=\"radio\" id=\"r0\" name=\"npsValue\" value=\"0\" />0</span>\n                            <span class=\"radio\"><input type=\"radio\" id=\"r1\" name=\"npsValue\" value=\"1\" />1</span>\n                            <span class=\"radio\"><input type=\"radio\" id=\"r2\" name=\"npsValue\" value=\"2\" />2</span>\n                            <span class=\"radio\"><input type=\"radio\" id=\"r3\" name=\"npsValue\" value=\"3\" />3</span>\n                            <span class=\"radio\"><input type=\"radio\" id=\"r4\" name=\"npsValue\" value=\"4\" />4</span>\n                            <span class=\"radio\"><input type=\"radio\" id=\"r5\" name=\"npsValue\" value=\"5\" />5</span>\n                            <span class=\"radio\"><input type=\"radio\" id=\"r6\" name=\"npsValue\" value=\"6\" />6</span>\n                            <span class=\"radio\"><input type=\"radio\" id=\"r7\" name=\"npsValue\" value=\"7\" />7</span>\n                            <span class=\"radio\"><input type=\"radio\" id=\"r8\" name=\"npsValue\" value=\"8\" />8</span>                                    \n                            <span class=\"radio\"><input type=\"radio\" id=\"r9\" name=\"npsValue\" value=\"9\" />9</span>\n                            <span class=\"radio\"><input type=\"radio\" id=\"r10\" name=\"npsValue\" value=\"10\" />10</span>\n                            <br /><br />\n                        </ol>\n                        <tr>\n                            <td width=\"auto\" align=\"center\"><button class=\"btn\" onclick=\"postScore()\">Submit</button></td>\n                        </tr>\n                    </fieldset>\n                </td>\n            </tr>\n        </tbody>\n    </table>\n</body>\n\n</html>\n", "output": "str", "x": 722, "y": 140, "wires": [
        ["ae859912.9770d8"]
    ] }, { "id": "f89ce6e.b732218", "type": "http in", "z": "fee6936d.da78e", "name": "", "url": "/npsvalues", "method": "post", "upload": false, "swaggerDoc": "", "x": 260, "y": 220, "wires": [
        ["3ab5136c.6d9c34"]
    ] }, { "id": "941182cc.920ab8", "type": "cloudant out", "z": "fee6936d.da78e", "name": "saveNPSscore", "cloudant": "", "database": "comment", "service": "italycionps-cloudantNoSQLDB", "payonly": true, "operation": "insert", "x": 882, "y": 220, "wires": [] }, { "id": "3ab5136c.6d9c34", "type": "function", "z": "fee6936d.da78e", "name": "WEBPOST", "func": "msg.payload;\nvar date = new Date();\nmsg.payload.date = date;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 472, "y": 220, "wires": [
        ["39d2d6b3.f6a4a2"]
    ] }, { "id": "39d2d6b3.f6a4a2", "type": "json", "z": "fee6936d.da78e", "name": "usersScore", "pretty": false, "x": 672, "y": 220, "wires": [
        ["941182cc.920ab8"]
    ] }, { "id": "c06a56d2.8514f", "type": "comment", "z": "fee6936d.da78e", "name": "Step 1", "info": "Creates webpage with proper style and get NPS value", "x": 90, "y": 140, "wires": [] }, { "id": "9cb3058d.80a2f8", "type": "comment", "z": "fee6936d.da78e", "name": "Step 2", "info": "Formats data as JSON record and writes data into CloudantDB.", "x": 90, "y": 220, "wires": [] }, { "id": "ae859912.9770d8", "type": "http response", "z": "fee6936d.da78e", "name": "", "statusCode": "", "headers": {}, "x": 933, "y": 140, "wires": [] }, { "id": "7486a87b.ebc588", "type": "template", "z": "fee6936d.da78e", "name": "CSS-Style params", "field": "payload.style", "fieldType": "msg", "format": "handlebars", "syntax": "mustache", "template": "<style>\n\n    html,\n    body,\n    h1,\n    form,\n    fieldset,\n    legend,\n    ol,\n    li {\n        margin: 0;\n        padding: 0;\n    }\n\n    body {\n        background: #000000;\n        color: #FFFFFF;\n        font-family: Arial, Helvetica, sans-serif;\n        padding: 20px;\n        margin: 3 auto;\n    }\n    \n    label {\n        display: inline-block;\n        width: 200px;\n        text-align: left;\n    }\n    \n    html {\n        font-family: sans-serif;\n    }\n    \n    div:first-of-type {\n      display: flex;\n      align-items: flex-start;\n      margin-bottom: 5px;\n    }\n    \n    label {\n      margin-right: 15px;\n      line-height: 32px;\n    }\n    \n    input {\n      -webkit-appearance: none;\n      -moz-appearance: none;\n      appearance: none;\n    \n      border-radius: 50%;\n      width: 16px;\n      height: 16px;\n    \n      border: 2px solid #999;\n      transition: 0.2s all linear;\n      outline: none;\n      margin-right: 5px;\n    \n      position: relative;\n      top: 4px;\n    }\n    \n    input:checked {\n      border: 8px solid black;\n    }\n    \n    button,\n    legend {\n      color: white;\n      background-color: #008CBA;\n      padding: 10px 24px;\n      border-radius: 20px;\n      border: 2;\n      font-size: 20px;\n    }\n    \n    button:hover,\n    button:focus {\n        background-color: #e7e7e7; color: black;\n    }\n    \n    button:active {\n      background-color: white;\n      color: black;\n      outline: 1px solid black;\n    }\n</style>", "output": "str", "x": 472, "y": 140, "wires": [
        ["e49fb72a.0f73e8"]
    ] }, { "id": "d5f4c672.74c72", "type": "http in", "z": "fee6936d.da78e", "name": "", "url": "/scoreNPSdata", "method": "get", "upload": false, "swaggerDoc": "", "x": 270, "y": 300, "wires": [
        ["29eae2a1.d3e97e"]
    ] }, { "id": "bceaf541.3429f", "type": "http response", "z": "fee6936d.da78e", "name": "Response", "statusCode": "", "headers": {}, "x": 1140, "y": 300, "wires": [] }, { "id": "29eae2a1.d3e97e", "type": "cloudant in", "z": "fee6936d.da78e", "name": "Get Score values", "cloudant": "", "database": "comment", "service": "italycionps-cloudantNoSQLDB", "search": "_all_", "design": "", "index": "", "x": 510, "y": 300, "wires": [
        ["8e981cf4.c25648"]
    ] }, { "id": "8e981cf4.c25648", "type": "function", "z": "fee6936d.da78e", "name": "List formatting", "func": "var promoters = 0;\nvar detractors = 0;\nvar passives = 0;\nvar total = 0;\nvar nps = 0;\nvar perc_promoters = 0.00;\nvar perc_detractors = 0.00;\n\nfor (i=0; i<msg.payload.length; i++)\n\n{\n    if (msg.payload[i].score <= 6) {\n       detractors += 1;\n    } else if (msg.payload[i].score <= 8) {\n        passives += 1;\n    } else {\n        promoters += 1;\n    }\n}\n\ntotal = promoters + passives + detractors;\nperc_promoters = (promoters*100/total);\nperc_detractors = (detractors*100/total);\nnps = perc_promoters - perc_detractors;\nnps = nps.toFixed(0);\n\nvar metrics = {Promoters:promoters,Passives:passives,Detractors:detractors,PERC_Promoters:perc_promoters,PERC_Detractors:perc_detractors,Total:total,NPS:nps};\n\nmsg.workout = metrics;\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 740, "y": 300, "wires": [
        ["24864430.9c1fb4"]
    ] }, { "id": "4537fd1b.f1d3bc", "type": "comment", "z": "fee6936d.da78e", "name": "Step 3", "info": "Retrieves data from CloudantDB and calculates NPS measure.", "x": 89, "y": 300, "wires": [] }, { "id": "24864430.9c1fb4", "type": "template", "z": "fee6936d.da78e", "name": "Create Table", "field": "payload", "fieldType": "msg", "format": "handlebars", "syntax": "mustache", "template": "<script type=\"text/javascript\">\n\n    var NPSvalue = {{workout.NPS}};\n\n    window.onload = function ()\n    {\n        var gauge = new RGraph.Gauge({\n            id: 'cvs',\n            min: -50,\n            max: 50,\n            value: NPSvalue,\n            options: {\n                titleTop: 'EOSD',\n                titleTopSize: '24',\n                titleTopFont: 'Impact',\n                titleTopColor: 'white',\n                titleBottom: 'NPS: ' + NPSvalue,\n                titleBottomSize: 'Italic 20',\n                titleBottomFont: 'Impact',\n                titleBottomColor: 'white',\n                titleBottomPos: 0.4,\n                backgroundColor: 'black',\n                backgroundGradient: true,\n                centerpinColor: '#666',\n                needleSize: [null, 50],\n                needleColors: ['Gradient(transparent:white:white:white:white:white)', 'Gradient(transparent:#d66:#d66:#d66:#d66)'],\n                textColor: 'white',\n                tickmarksBigColor: 'white',\n                tickmarksMediumColor: 'white',\n                tickmarksSmallColor: 'white',\n                borderOuter: '#666',\n                borderInner: '#333',\n                colorsRanges: [[-50,0,'rgba(255,0,0,1)'], [0,50,'rgba(0,255,0,1)']],\n                textAccessible: true\n            }\n        }).draw();\n    };\n\n</script>\n\n<html>\n    <script src=\"/js/RGraph.common.core.js\"></script>\n    <script src=\"/js/RGraph.gauge.js\"></script>\n    <head>\n        <title>Net Promoter Score</title>\n    </head>\n    <body bgcolor=\"#ECE9E8\">\n        <table class=\"responsive\" width=\"100%\">\n        <thead>\n            <tr>\n                <th colspan=\"1\" align=\"center\" style=\"color:#000000\">\n                    <h1>Net Promoter Score</h1>\n                </th>\n            </tr>\n            <tr>\n                <div class='illustration'>\n                    <th><canvas id=\"cvs\" width=\"300\" height=\"300\"></canvas></th>\n                </div>\n            </tr>\n        </thead>\n    </table>\n</html>", "output": "str", "x": 950, "y": 300, "wires": [
        ["bceaf541.3429f"]
    ] }, { "id": "4df8260a.45f348", "type": "comment", "z": "fee6936d.da78e", "name": "Net Promoter Score - README", "info": "This Flow supports the Net Promoter Score measure.\n\nIt is based on a CloudantDB that stores the evaluation of users.\nFollowing the logical scheme of this app:\n\nStep 1 - generates the webpage and capture score input.\n    The CSS node sets the \"msg.payload.style\" property.\n    The HTML node then includes these properties \n    <style>{{{payload.style}}}</style>\n\nStep 2 - saves data on Cloudant DB\n    Data are then saved on Cloudant Db to make them\n    available for further analysis\n\nStep 3 - provides statistics about NPS\n    Here, data have been retrieved,\n    formatted and presented in a chart.\n\n\n\n\n", "x": 170, "y": 60, "wires": [] }, { "id": "f8ea89ce.41429", "type": "catch", "z": "fee6936d.da78e", "name": "", "scope": null, "x": 240, "y": 380, "wires": [
        ["7225be68.859e08"]
    ] }, { "id": "7225be68.859e08", "type": "debug", "z": "fee6936d.da78e", "name": "error message", "active": true, "console": "false", "complete": "true", "x": 440, "y": 380, "wires": [] }, { "id": "38e47c67.e61f14", "type": "comment", "z": "fee6936d.da78e", "name": "Step 4", "info": "Error handling section", "x": 90, "y": 380, "wires": [] }]